*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}

#container{
    border: black 5px solid;
    border-radius: 2em;
    padding: 5em;
    p{
        color: white;
        font: {
            size: 3em;
            style: italic;
            weight: bolder;
        }

    }
}